@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

* {
  padding: 0;
  margin: 0;
}

body {
  background: #111;
  color: white;
}

main {
  padding: 60px 2%;
}

p {
  margin: .5% 0;
}

a {
  transition: .6s;
  color: #545AA7;
  text-decoration: none;
}

a:hover {
  transition: .6s;
  color: #0070BB;
}
